# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
stock-manager-front/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
frontend/stock-manager-front/.next/
frontend/stock-manager-front/out/
frontend/stock-manager-front/node_modules
# production
stock-manager-front/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

#python service
services/order-service/venv
